name: testing

on:
  push:
  pull_request:
  workflow_dispatch:

permissions:
  contents: read
  pull-requests: read

jobs:
  unit-testing:
    strategy:
      matrix:
        go: ['1.18', '1.19', '1.20']
        os: [macos-latest, windows-latest, ubuntu-latest]

    runs-on: ${{ matrix.os }}
    steps:
      - uses: actions/setup-go@v3
        with:
          go-version: ${{ matrix.go }}

      - uses: actions/checkout@v3

      - run: "go test ./..."

  testing:
    strategy:
      matrix:
        go: ['1.18', '1.19', '1.20']
        os: [macos-latest, windows-latest, ubuntu-latest]

    runs-on: ${{ matrix.os }}

    steps:
      - uses: actions/setup-go@v3
        with:
          go-version: ${{ matrix.go }}

      - uses: actions/checkout@v3

      - name: "Build pap"
        run: "go build ."

      - name: "Run help"
        run: "./pap -y -d help"
      
      - name: "Test self updater"
        run: |
          ./pap -y -d update

      - name: "Test plugin manager"
        run: |
          ./pap -y -d plugin install townyadvanced fawe
          ls plugins
          ./pap -y -d plugin uninstall townyadvanced fawe
          ls plugins
          ./pap -y -d plugin install townyadvanced townychat
          ls plugins
          ./pap -y -d plugin install geyser
          ls plugins
          ./pap -y -d plugin install --optional geyser
          ls plugins
          ./pap -y -d plugin install modrinth:essentialsx
          ls plugins
          ./pap -y -d plugin install spigot:death_signs
          ls plugins
          ./pap -y -d plugin install bukkit:holographic-displays
          ls plugins
      
      - name: "Test plugin manager generator"
        run: |
          ./pap -y -d plugin generate spigotmc essentialsx
          cat essentialsx.json
          ./pap -y -d plugin generate modrinth essentialsx
          cat essentialsx.json
          ./pap -y -d plugin generate bukkit holographic-displays
          cat holographic-displays.json

      - run: "./pap -y -d sign"
      - name: Read Signed EULA
        run: "cat eula.txt"

      - run: "./pap -y -d script"
      - run: "./pap -y -d script --stdout"
      - name: Read Generated Script (windows)
        if: matrix.os == 'windows-latest'
        run: "cat run.bat"
      - name: Read Generated Script (unix)
        if: matrix.os != 'windows-latest'
        run: "cat run.sh"

      - run: "./pap -y -d script -mem 2G"
      - run: "./pap -y -d script -mem 2G --stdout"
      - name: Read Generated Script (windows)
        if: matrix.os == 'windows-latest'
        run: "cat run.bat"
      - name: Read Generated Script (unix)
        if: matrix.os != 'windows-latest'
        run: "cat run.sh"

      - run: "./pap -y -d script -mem 13G"
      - run: "./pap -y -d script -mem 13G --stdout"
      - name: Read Generated Script (windows)
        if: matrix.os == 'windows-latest'
        run: "cat run.bat"
      - name: Read Generated Script (unix)
        if: matrix.os != 'windows-latest'
        run: "cat run.sh"

      - run: "./pap -y -d script -mem 13G -gui"
      - run: "./pap -y -d script -mem 13G -gui --stdout"
      - name: Read Generated Script (windows)
        if: matrix.os == 'windows-latest'
        run: "cat run.bat"
      - name: Read Generated Script (unix)
        if: matrix.os != 'windows-latest'
        run: "cat run.sh"

      - run: "./pap -y -d script -mem 2000M"
      - run: "./pap -y -d script -mem 2000M --stdout"
      - name: Read Generated Script (windows)
        if: matrix.os == 'windows-latest'
        run: "cat run.bat"
      - name: Read Generated Script (unix)
        if: matrix.os != 'windows-latest'
        run: "cat run.sh"

      - run: "./pap -y -d script -mem 2000M -gui"
      - run: "./pap -y -d script -mem 2000M -gui --stdout"
      - name: Read Generated Script (windows)
        if: matrix.os == 'windows-latest'
        run: "cat run.bat"
      - name: Read Generated Script (unix)
        if: matrix.os != 'windows-latest'
        run: "cat run.sh"

      - run: "./pap -y -d script -jar wow.jar"
      - run: "./pap -y -d script -jar wow.jar --stdout"
      - name: Read Generated Script (windows)
        if: matrix.os == 'windows-latest'
        run: "cat run.bat"
      - name: Read Generated Script (unix)
        if: matrix.os != 'windows-latest'
        run: "cat run.sh"

      - run: "./pap -y -d script -jar wow.jar -gui"
      - run: "./pap -y -d script -jar wow.jar -gui --stdout"
      - name: Read Generated Script (windows)
        if: matrix.os == 'windows-latest'
        run: "cat run.bat"
      - name: Read Generated Script (unix)
        if: matrix.os != 'windows-latest'
        run: "cat run.sh"

      - run: "./pap -y -d script -jar -gui wow.jar"
      - run: "./pap -y -d script -jar -gui wow.jar --stdout"
      - name: Read Generated Script (windows)
        if: matrix.os == 'windows-latest'
        run: "cat run.bat"
      - name: Read Generated Script (unix)
        if: matrix.os != 'windows-latest'
        run: "cat run.sh"

      - run: "./pap -y -d script -jar wow.jar -mem 4G -gui"
      - run: "./pap -y -d script -jar wow.jar -mem 4G -gui --stdout"
      - name: Read Generated Script (windows)
        if: matrix.os == 'windows-latest'
        run: "cat run.bat"
      - name: Read Generated Script (unix)
        if: matrix.os != 'windows-latest'
        run: "cat run.sh"

      - run: "./pap -y -d script -aikars -mem 2G"
      - run: "./pap -y -d script -aikars -mem 2G --stdout"
      - name: Read Generated Script (windows)
        if: matrix.os == 'windows-latest'
        run: "cat run.bat"
      - name: Read Generated Script (unix)
        if: matrix.os != 'windows-latest'
        run: "cat run.sh"

      - run: "./pap -y -d script -aikars -mem 13G"
      - run: "./pap -y -d script -aikars -mem 13G --stdout"
      - name: Read Generated Script (windows)
        if: matrix.os == 'windows-latest'
        run: "cat run.bat"
      - name: Read Generated Script (unix)
        if: matrix.os != 'windows-latest'
        run: "cat run.sh"

      - run: "./pap -y -d script -aikars -mem 13G -gui"
      - run: "./pap -y -d script -aikars -mem 13G -gui --stdout"
      - name: Read Generated Script (windows)
        if: matrix.os == 'windows-latest'
        run: "cat run.bat"
      - name: Read Generated Script (unix)
        if: matrix.os != 'windows-latest'
        run: "cat run.sh"

      - run: "./pap -y -d script -aikars -mem 2000M"
      - run: "./pap -y -d script -aikars -mem 2000M --stdout"
      - name: Read Generated Script (windows)
        if: matrix.os == 'windows-latest'
        run: "cat run.bat"
      - name: Read Generated Script (unix)
        if: matrix.os != 'windows-latest'
        run: "cat run.sh"

      - run: "./pap -y -d script -aikars -mem 2000M -gui"
      - run: "./pap -y -d script -aikars -mem 2000M -gui --stdout"
      - name: Read Generated Script (windows)
        if: matrix.os == 'windows-latest'
        run: "cat run.bat"
      - name: Read Generated Script (unix)
        if: matrix.os != 'windows-latest'
        run: "cat run.sh"

      - run: "./pap -y -d script -aikars -jar wow.jar"
      - run: "./pap -y -d script -aikars -jar wow.jar --stdout"
      - name: Read Generated Script (windows)
        if: matrix.os == 'windows-latest'
        run: "cat run.bat"
      - name: Read Generated Script (unix)
        if: matrix.os != 'windows-latest'
        run: "cat run.sh"

      - run: "./pap -y -d script -aikars -jar wow.jar -gui"
      - run: "./pap -y -d script -aikars -jar wow.jar -gui --stdout"
      - name: Read Generated Script (windows)
        if: matrix.os == 'windows-latest'
        run: "cat run.bat"
      - name: Read Generated Script (unix)
        if: matrix.os != 'windows-latest'
        run: "cat run.sh"

      - run: "./pap -y -d script -aikars -jar -gui wow.jar"
      - run: "./pap -y -d script -aikars -jar -gui wow.jar --stdout"
      - name: Read Generated Script (windows)
        if: matrix.os == 'windows-latest'
        run: "cat run.bat"
      - name: Read Generated Script (unix)
        if: matrix.os != 'windows-latest'
        run: "cat run.sh"

      - run: "./pap -y -d script -aikars -jar wow.jar -mem 4G -gui"
      - run: "./pap -y -d script -aikars -jar wow.jar -mem 4G -gui --stdout"
      - name: Read Generated Script (windows)
        if: matrix.os == 'windows-latest'
        run: "cat run.bat"
      - name: Read Generated Script (unix)
        if: matrix.os != 'windows-latest'
        run: "cat run.sh"

      - run: "./pap -y -d version"
      - name: Read Generated Script (windows)
        if: matrix.os == 'windows-latest'
        run: "cat run.bat"
      - name: Read Generated Script (unix)
        if: matrix.os != 'windows-latest'
        run: "cat run.sh"

      - name: "Reset server.properties"
        run: "./pap -y -d properties reset"
      - name: Read created server.properties
        run: "cat server.properties"

      - name: "Get server property"
        run: "./pap -y -d properties get gamemode"
    
      - name: "Set server property"
        run: "./pap -y -d properties set gamemode creative"
      - name: Read modified server.properties
        run: "cat server.properties"

      - name: "Get modifiedserver property"
        run: "./pap -y -d properties get gamemode"

      - name: "Test paper downloading"
        run: |
          ./pap -y -d download paper --experimental
          ./pap -y -d download paper
          ./pap -y -d download paper --version 1.19.2
          ./pap -y -d download paper --version 1.19.2 --build 300
          ./pap -y -d download paper --version 1.12.2 --build 1230
          ./pap -y -d download paper --version 1.12.2
          ./pap -y -d download paper --version latest --build latest --experimental
          ./pap -y -d download paper --version 1.19.3 --build 319 --experimental
          ./pap -y -d download paper --version 1.19.3 --build 319
          ./pap -y -d download paper --version 1.12.2 --build latest

      - name: "Test purpur downloading"
        run: |
          ./pap -y -d download purpur
          ./pap -y -d download purpur --version 1.19.2
          ./pap -y -d download purpur --version 1.14.2 --build 124
          ./pap -y -d download purpur --version 1.14.2
          ./pap -y -d download purpur --version latest
          ./pap -y -d download purpur --version 1.19.3 --build 1881
          ./pap -y -d download purpur --version 1.14.2 --build latest

      - name: "Test official downloading"
        run: |
           ./pap -y -d download official --snapshot
           ./pap -y -d download official
           ./pap -y -d download official --version 1.19.2
           ./pap -y -d download official --version 1.12.2
           ./pap -y -d download official --version latest --snapshot
           ./pap -y -d download official --version 1.19.3 --snapshot
           ./pap -y -d download official --version 18w07c
           ./pap -y -d download official --version 1.2.5
           ./pap -y -d download official --version 1.13-pre6
