name: testing
on:
  push:
    tags:
      - v*
    branches:
      - main
  pull_request:

permissions:
  contents: read
  pull-requests: read

jobs:
  unit-testing:
    strategy:
      matrix:
        go: [1.18, 1.19]
        os: [macos-latest, windows-latest, ubuntu-latest]

    runs-on: ${{ matrix.os }}
    steps:
      - uses: actions/setup-go@v3
        with:
          go-version: ${{ matrix.go }}

      - uses: actions/checkout@v3

      - run: "go test ./..."

  testing:
    strategy:
      matrix:
        go: [1.18, 1.19]
        os: [macos-latest, windows-latest, ubuntu-latest]

    runs-on: ${{ matrix.os }}
    steps:
      - uses: actions/setup-go@v3
        with:
          go-version: ${{ matrix.go }}

      - uses: actions/checkout@v3

      - run: "go build ."
      - run: "./pap -y help"
      - run: "./pap -y download paper --experimental"
      - run: "./pap -y download paper"
      - run: "./pap -y download paper --version 1.19.2"
      - run: "./pap -y download paper --version 1.19.2 --build 300"
      - run: "./pap -y download paper --version 1.12.2 --build 1230"
      - run: "./pap -y download paper --version 1.12.2"
      - run: "./pap -y download paper --version latest --build latest --experimental"
      - run: "./pap -y download paper --version 1.19.3 --build 319 --experimental"
      - run: "./pap -y download paper --version 1.19.3 --build 319"
      - run: "./pap -y download paper --version 1.12.2 --build latest"

      - run: "./pap -y download purpur"
      - run: "./pap -y download purpur --version 1.19.2"
      - run: "./pap -y download purpur --version 1.14.2 --build 124"
      - run: "./pap -y download purpur --version 1.14.2"
      - run: "./pap -y download purpur --version latest"
      - run: "./pap -y download purpur --version 1.19.3 --build 1881"
      - run: "./pap -y download purpur --version 1.14.2 --build latest"

      - run: "./pap -y download official --snapshot"
      - run: "./pap -y download official"
      - run: "./pap -y download official --version 1.19.2"
      - run: "./pap -y download official --version 1.12.2"
      - run: "./pap -y download official --version latest --snapshot"
      - run: "./pap -y download official --version 1.19.3 --snapshot"
      - run: "./pap -y download official --version 18w07c"
      - run: "./pap -y download official --version 1.2.5"
      - run: "./pap -y download official --version 1.13-pre6"

      - run: "./pap -y sign"
      - name: Read Signed EULA
        run: "cat eula.txt"

      - run: "./pap -y script"
      - run: "./pap -y script --stdout"
      - name: Read Generated Script (windows)
        if: matrix.os == 'windows-latest'
        run: "cat run.bat"
      - name: Read Generated Script (unix)
        if: matrix.os != 'windows-latest'
        run: "cat run.sh"

      - run: "./pap -y script -mem 2G"
      - run: "./pap -y script -mem 2G --stdout"
      - name: Read Generated Script (windows)
        if: matrix.os == 'windows-latest'
        run: "cat run.bat"
      - name: Read Generated Script (unix)
        if: matrix.os != 'windows-latest'
        run: "cat run.sh"

      - run: "./pap -y script -mem 13G"
      - run: "./pap -y script -mem 13G --stdout"
      - name: Read Generated Script (windows)
        if: matrix.os == 'windows-latest'
        run: "cat run.bat"
      - name: Read Generated Script (unix)
        if: matrix.os != 'windows-latest'
        run: "cat run.sh"

      - run: "./pap -y script -mem 13G -gui"
      - run: "./pap -y script -mem 13G -gui --stdout"
      - name: Read Generated Script (windows)
        if: matrix.os == 'windows-latest'
        run: "cat run.bat"
      - name: Read Generated Script (unix)
        if: matrix.os != 'windows-latest'
        run: "cat run.sh"

      - run: "./pap -y script -mem 2000M"
      - run: "./pap -y script -mem 2000M --stdout"
      - name: Read Generated Script (windows)
        if: matrix.os == 'windows-latest'
        run: "cat run.bat"
      - name: Read Generated Script (unix)
        if: matrix.os != 'windows-latest'
        run: "cat run.sh"

      - run: "./pap -y script -mem 2000M -gui"
      - run: "./pap -y script -mem 2000M -gui --stdout"
      - name: Read Generated Script (windows)
        if: matrix.os == 'windows-latest'
        run: "cat run.bat"
      - name: Read Generated Script (unix)
        if: matrix.os != 'windows-latest'
        run: "cat run.sh"

      - run: "./pap -y script -jar wow.jar"
      - run: "./pap -y script -jar wow.jar --stdout"
      - name: Read Generated Script (windows)
        if: matrix.os == 'windows-latest'
        run: "cat run.bat"
      - name: Read Generated Script (unix)
        if: matrix.os != 'windows-latest'
        run: "cat run.sh"

      - run: "./pap -y script -jar wow.jar -gui"
      - run: "./pap -y script -jar wow.jar -gui --stdout"
      - name: Read Generated Script (windows)
        if: matrix.os == 'windows-latest'
        run: "cat run.bat"
      - name: Read Generated Script (unix)
        if: matrix.os != 'windows-latest'
        run: "cat run.sh"

      - run: "./pap -y script -jar -gui wow.jar"
      - run: "./pap -y script -jar -gui wow.jar --stdout"
      - name: Read Generated Script (windows)
        if: matrix.os == 'windows-latest'
        run: "cat run.bat"
      - name: Read Generated Script (unix)
        if: matrix.os != 'windows-latest'
        run: "cat run.sh"

      - run: "./pap -y script -jar wow.jar -mem 4G -gui"
      - run: "./pap -y script -jar wow.jar -mem 4G -gui --stdout"
      - name: Read Generated Script (windows)
        if: matrix.os == 'windows-latest'
        run: "cat run.bat"
      - name: Read Generated Script (unix)
        if: matrix.os != 'windows-latest'
        run: "cat run.sh"

      - run: "./pap -y script -aikars -mem 2G"
      - run: "./pap -y script -aikars -mem 2G --stdout"
      - name: Read Generated Script (windows)
        if: matrix.os == 'windows-latest'
        run: "cat run.bat"
      - name: Read Generated Script (unix)
        if: matrix.os != 'windows-latest'
        run: "cat run.sh"

      - run: "./pap -y script -aikars -mem 13G"
      - run: "./pap -y script -aikars -mem 13G --stdout"
      - name: Read Generated Script (windows)
        if: matrix.os == 'windows-latest'
        run: "cat run.bat"
      - name: Read Generated Script (unix)
        if: matrix.os != 'windows-latest'
        run: "cat run.sh"

      - run: "./pap -y script -aikars -mem 13G -gui"
      - run: "./pap -y script -aikars -mem 13G -gui --stdout"
      - name: Read Generated Script (windows)
        if: matrix.os == 'windows-latest'
        run: "cat run.bat"
      - name: Read Generated Script (unix)
        if: matrix.os != 'windows-latest'
        run: "cat run.sh"

      - run: "./pap -y script -aikars -mem 2000M"
      - run: "./pap -y script -aikars -mem 2000M --stdout"
      - name: Read Generated Script (windows)
        if: matrix.os == 'windows-latest'
        run: "cat run.bat"
      - name: Read Generated Script (unix)
        if: matrix.os != 'windows-latest'
        run: "cat run.sh"

      - run: "./pap -y script -aikars -mem 2000M -gui"
      - run: "./pap -y script -aikars -mem 2000M -gui --stdout"
      - name: Read Generated Script (windows)
        if: matrix.os == 'windows-latest'
        run: "cat run.bat"
      - name: Read Generated Script (unix)
        if: matrix.os != 'windows-latest'
        run: "cat run.sh"

      - run: "./pap -y script -aikars -jar wow.jar"
      - run: "./pap -y script -aikars -jar wow.jar --stdout"
      - name: Read Generated Script (windows)
        if: matrix.os == 'windows-latest'
        run: "cat run.bat"
      - name: Read Generated Script (unix)
        if: matrix.os != 'windows-latest'
        run: "cat run.sh"

      - run: "./pap -y script -aikars -jar wow.jar -gui"
      - run: "./pap -y script -aikars -jar wow.jar -gui --stdout"
      - name: Read Generated Script (windows)
        if: matrix.os == 'windows-latest'
        run: "cat run.bat"
      - name: Read Generated Script (unix)
        if: matrix.os != 'windows-latest'
        run: "cat run.sh"

      - run: "./pap -y script -aikars -jar -gui wow.jar"
      - run: "./pap -y script -aikars -jar -gui wow.jar --stdout"
      - name: Read Generated Script (windows)
        if: matrix.os == 'windows-latest'
        run: "cat run.bat"
      - name: Read Generated Script (unix)
        if: matrix.os != 'windows-latest'
        run: "cat run.sh"

      - run: "./pap -y script -aikars -jar wow.jar -mem 4G -gui"
      - run: "./pap -y script -aikars -jar wow.jar -mem 4G -gui --stdout"
      - name: Read Generated Script (windows)
        if: matrix.os == 'windows-latest'
        run: "cat run.bat"
      - name: Read Generated Script (unix)
        if: matrix.os != 'windows-latest'
        run: "cat run.sh"

      - run: "./pap -y version"
      - name: Read Generated Script (windows)
        if: matrix.os == 'windows-latest'
        run: "cat run.bat"
      - name: Read Generated Script (unix)
        if: matrix.os != 'windows-latest'
        run: "cat run.sh"

      - run: "./pap -y properties reset"
      - name: Read created server.properties
        run: "cat server.properties"

      - run: "./pap -y properties get gamemode"
    
      - run: "./pap -y properties set gamemode creative"
      - name: Read modified server.properties
        run: "cat server.properties"

      - run: "./pap -y properties get gamemode"
      - run: "./pap -y geyser"
      - run: "./pap -y geyser --no-floodgate"
